.header__logo {
    margin: 0;
    margin-bottom: 36px;
    padding: 0;
    width: 142px;
    height: 33px;
}

@media (max-width: 1024px) {
    .header__logo {
        padding-left: 27px;
    }
}

@media (max-width: 320px) {
    .header__logo {
        width: 104px;
        height: 24px;
        margin-bottom: 31px;
    }
}
